.aside-nav{
	height: 100%;
	width: 30px;
	background-color: #383838;
	position: fixed;
	right: 0;
	z-index: 1000090;
	text-align: center;
	top: 0;
}
.aside-nav .aside-nav-body{
	margin-top: 150px;
}
.aside-nav .aside-nav-body .user{
	width: 100%;
	text-align: center;
	padding-top: 30px;
	position: relative;
}
.aside-nav .aside-nav-body .user .user-center{
	position: absolute;
	width: 80px;
	right: 50px;
	color: white;
	bottom: -1px;
	font-size: 0;
}
.aside-nav .aside-nav-body .user .user-icon{
	font-size: 23px;
	color: white;
	width: 100%;
	line-height: 29px;
}
.aside-nav .aside-nav-body .cus-service{
	width: 100%;
	text-align: center;
	margin-top: 30px;
	position: relative;
}
.aside-nav .aside-nav-body .cus-service .relate-server{
	position: absolute;
	width: 80px;
	right: 50px;
	color: white;
	bottom: -1px;
	font-size: 0;
}
.aside-nav .aside-nav-body .cus-service .cus-service-icon{
	font-size: 23px;
	color: white;
	width: 100%;
	padding: 5px 0;
}
.aside-nav .aside-nav-body .cus-service:hover .cus-service-icon{
	background: black;
}
.aside-nav .aside-nav-body .shopping-cat{
	width: 100%;
	text-align: center;
	margin-top: 30px;
	padding: 5px 0;
}
.aside-nav .aside-nav-body .shopping-cat .car-num{
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	text-align: center;
	background-color: red;
	color: white;
	margin-top: 5px;
	font-size: 12px;
}
.aside-nav .aside-nav-body .shopping-cat:hover .car-num{
	background: white;
	color: red;
}
.aside-nav .aside-nav-body .shopping-cat:hover,.aside-nav .qrcode:hover{
	background-color: black;
}
.aside-nav .aside-nav-body .shopping-cat .word{
	font-size: 16px;
	color: white;
}
.aside-nav .aside-nav-body .shopping-cat .shopping-cat-icon{
	font-size: 23px;
	color: white;
}
.shopcat-detail .shopcat-control{
	/*display: none;*/
}
.shopcat-tanchu{
	width: 300px;
	position: fixed;
	right: -270px;
	top: 0;
	height: 100%;
	border: 1px solid #ccc;
	z-index: 0;
}
.shopcat-detail{
	background: #f5f5f5;
}
.shopcat-detail .manu li{
	padding: 10px;
	border-bottom: 1px solid #ccc;
	background: white;
	width: 298px;
}
.manu .manu-name{
	width: 206px;
	margin-left: 7px;
	line-height: 20px;
}
.manu .price{
	line-height: 22px;
	margin-left: 8px;
}
.manu  .price .now-price{
	color: #FF2D52;
	font-weight: bold;
}
.shopcat-detail .manu img{
	width: 60px;
	height: 60px;
	float: left;
}
.shopcat-detail .cat-bottom{
	height: 100px;
	border-top: 1px solid #ccc;
	padding: 0 10px;
	padding-top: 10px;
	position: absolute;
	bottom: 0;
}
.cat-bottom .shop-total{
	line-height: 36px;
}
.cat-bottom button{
	width: 280px;
	height: 38px;
	border-radius: 3px;
	border: 2px solid #EC193E;
	outline: none;
}
.shopcat-detail .icon{
	background: url(../../img/shopcat.jpg) no-repeat;
	width: 20px;
	height: 20px;
	top: 9px;
	display: inline-block;
	position: absolute;
	left: 16px;
}
.shopcat-detail .top-title{
	width: 100%;
	height: 40px;
	text-align: left;
	position: relative;
}
.shopcat-detail{
	/*display: none;*/
}
.shopcat-detail .name{
	font-weight: bold;
	line-height: 40px;
	margin-left: 38px;
}
.aside-nav .aside-nav-bottom{
	position: absolute;
	bottom: 0;
	padding-bottom: 45px;
	width: 100%;
	background-color: #383838;
}
.aside-nav .aside-nav-bottom .qrcode{
	margin-top: 30px;
	position: relative;
	margin-bottom: 10px;
}
.aside-nav .aside-nav-bottom .qrcode a{
	color: white;
	padding-bottom: 10px;
	width: 20px;
	display: inline-block;
	border-bottom: 3px solid white;
}
.aside-nav .aside-nav-bottom .qrcode .qrcode-pic img{
	position: absolute;
	right: 30px;
	bottom: 0;
	height: 0;
}
.aside-nav .aside-nav-bottom .qrcode:hover .qrcode-pic img{
	height: 150px;
	transition-duration: 0.3s;
}
.aside-nav .aside-nav-bottom .go-top .go-top-icon{
	color: white;
	padding: 7px 0;
}
.aside-nav .aside-nav-bottom .go-top:hover{
	background-color: black;
}

.cus-server .online-server{
	padding: 10px 19px;
	background: #e8e8e8;
}
.cus-server{
	background:white;
}
.cus-server .online-server .title{
	padding-top: 30px;
}
.cus-server .online-server .title .online-title{
	font-size: 24px;
	font-weight: bold;
}
.cus-server .online-server .title .online-server-time{
	color: #383838;
	font-weight: bold;
}
.cus-server .server-num{
	font-weight: bold;
	background: #fff;
}
.cus-server .server-num ul{
	border-bottom: 1px solid #ccc;
}
.cus-server .server-num ul li{
	margin-top: 10px;
}
.cus-server .server-num .zixun{
	line-height: 40px;
	height: 40px;
}
.cus-server .server-num .online-icon{
	width: 30px;
	height: 27px;
	display: inline-block;
	background: url(../../img/onlineserver.jpg);
}
.cus-server .server-num .zixun-server{
	display: inline-block;
	vertical-align: 6px;
	color: #383838;
}
.server-num .top-tel{
	height: 100%;
}
.server-num .top-tel .specal-icon{
	background: url(../../img/specal-line.jpg) no-repeat;
	background-size: 30px 30px;
	padding-left: 35px;
	height: 60px;
	padding-bottom: 10px;
	background-position: 3px 10px;
	font-weight: normal;
	margin-top: 15px;
}
.server-num .top-tel .specal-icon .specal-line{
	font-weight: bold;
}
.server-num .top-tel .tel-num{
	font-size: 30px;
}
