.child-use-title{
	border-bottom: 1px solid #FF2D52;
}
.child-use-title>span{
	/*display: inline-block;*/
	line-height: 50px;
	font-size: 24px;
	color: #FF2D52;
}
.child-using{
	margin-top: 5px;
}
.child-using .left{
	width: 150px;
}
.child-using .right{
	margin-top: 20px;
}
.child-using .right li{
	margin-left: 10px;
	float: left;
}
.child-using .right li .triangle{
	width: 0;
	margin: 0 auto;
}
.child-use-content{
	display: none;
}
.child-use-content .left-classify{
	width: 250px;
	height: 470px;
	background: url(../../img/mouse.jpg) no-repeat;
	background-size: 100% 100%;
}
.child-use-content .left-classify .main-content{
	padding-top: 200px;
}
.child-use-content .left-classify .main-content ul{
	padding: 35px 20px;
}
.child-use-content .left-classify .main-content li{
	width: 64px;
	height: 64px;
	display: inline-block;
	border-radius: 50%;
	line-height: 64px;
	text-align: center;
	background-color: white;
	margin: 0 3px 5px 0;
}
.child-use-content .left-classify .main-content li:hover{
	background: #ffe9ed;
}
.child-use-content .left-classify .fresh{
	font-size: 24px;
	color: white;
	text-align: center;
}
.child-use-content .left-classify .price{
	font-size: 18px;
	color: white;
	text-align: center;
}
.child-use-content .left-classify .price span{
	font-size: 24px;
}
.child-use-content .middle-content{
	float: left;
	width: 750px;
	/*border-right: 1px solid #ccc;*/
	height: 470px;
}
.child-use-content .middle-content li img{
	width: 149px;
	height: 149px;
	padding-bottom: 3px;
	box-sizing: border-box;
}
.child-use-content .middle-content li{
	padding: 14px 18px;
	float: left;
	/*border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;*/
	height: 235px;
}
.middle-content .shop-title{
	width: 150px;
}
.child-use-content .right-content{
	width: 200px;
}
.right-content{
	float: left;
}
/*.right-content .body{
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}*/
.right-content .right-title{
	width: 100%;
	/*border-bottom: 1px solid #ccc;*/
	line-height: 37px;
}
.right-content .body li{
	padding: 8px 5px;
	border-bottom: 1px dashed #ccc;
	height: 72px;
}
.right-content .body li:last-child{
	border: 0;
}
.right-content .body li img{
	width: 55px;
	height: 55px;
	float: left;
}
.right-content .body li .rightshop-intro{
	float: right;
	width: 108px;
	height: 55px;
}
.rightshop-intro .intro{
	line-height: 25px;
}
.rightshop-intro .price{
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
}
.rightshop-intro .price .now{
	color: #ff5770;
}
.rightshop-intro .price .before{
	color: #bdbdbd;
	text-decoration: line-through;
}
