
.top-direction{
	height: 42px;
	line-height: 45px;
	background: white;
}
.top-direction>span{
	margin: 0 3px 0 2px;
}
.top-direction .position-icon{
	width: 12px;
	height: 15px;
	background: url(../../img/position.jpg) no-repeat;
	display: inline-block;	
}
.top-direction .arrow{
	display: inline-block;
	width: 5px;
	height: 8px;
	background: url(../../img/left-arrow.jpg) no-repeat;
}
.shop-type ul{
	background: white;
}
.shop-type .brand{
	border: 1px solid #ccc;
	position: relative;
	border-bottom: 0;
}
.shop-type .brand>div>span{
	padding: 4px 6px;
	border: 1px solid white;
	cursor: pointer;
}
.shop-type .brand>div>span:hover{
	border: 1px solid #ccc;
}
.shop-type .brand .type{
	padding: 0 30px;
	width: 900px;
	border-left: 1px solid #ccc;
}
.shop-type .brand .type span{
	margin-right: 18px;
	line-height: 54px;
}
.shop-type .brand .type span:nth-child(7){
	margin-left: 0;
}
.shop-type .brand .country{
	padding: 0 30px;
	width: 900px;
	border-left: 1px solid #ccc;
}
.shop-type .brand .country span{
	margin-right: 18px;
	line-height: 54px;
}
.shop-type .brand .country span:nth-child(7){
	margin-left: 0;
}
.shop-type .brand .title{
	width: 120px;
	text-align: right;
	line-height: 54px;
	/* border: 1px solid #ccc; */
	padding: 0 10px;
}
.shop-type .brand .price-rang{
	line-height: 54px;
	padding: 0 30px;
	border-left: 1px solid #ccc;
}
.shop-type .brand .price-rang>span{
	margin-right: 54px;
}
.shop-type .brand .close{
	display: inline-block;
	width: 66px;
	height: 24px;
	line-height: 22px;
	border: 1px solid #ccc;
	position: absolute;
	padding-left: 5px;
	top: 12px;
	right: 30px;
}
.shop-type .brand .close .close-icon{
	display: inline-block;
	width: 22px;
	height: 12px;
	background: url(../../img/more.jpg) no-repeat;
}
.shop-type .brand .choice{
	padding: 14px 30px;
	line-height: 24px;
	height: 24px;
	border-left: 1px solid #ccc;
	height: 54px;
}
.shop-type .brand:last-child{
	border-bottom: 1px solid #ccc;
}
.shop-type .brand .choice .choice-brand{
	border: 1px solid #ccc;
	margin-right: 30px;
	padding-left: 5px;
}
.shop-type .brand .choice .choice-brand>span{
	margin: 0 3px 0 5px;
}
.shop-type .body-content{
	margin-top: 20px;
	background: white;
}
.shop-type .body-content .guess-body{
	width: 220px;
}
.shop-type .body-content .guess-body .guess-title{
	border: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	background: #fff9f5;
}
.shop-type .body-content .guess-body img{
	width: 64px;
	height: 64px;
}
.shop-type .body-content .guess-body li{
	border: 1px solid #ccc;
	border-top: 0;
}
.shop-type .body-content .guess-body .intro{
	width: 120px;
}
.shop-type .body-content .right .top{
	line-height: 38px;
	width: 966px;
	border: 1px solid #ccc;
	background: #fff9f5;
}
.body-content .right .top>ul .choice:hover{
	background-color: #FF2D52;
	color: white;
}
.body-content .right .top>ul li{
	height: 39px;
	line-height: 39px;
	padding: 0 20px;
	border-right: 1px solid #ccc;
}
.right .top .qujian input{
	width: 40px;
	height: 18px;
}
.right .top-right{
	margin-right: 30px;
}
.right .top-right .arrow{
	border: 1px solid #ccc;
	padding: 0 3px;
	cursor: pointer;
	margin-right: 3px;
}
.right .top li .arrow-bottom{
	background: url(../../img/arrow-bottom.png) no-repeat;
	width: 12px;
	height: 12px;
	display: inline-block;
	background-size: 7px 12px;
	vertical-align: -2px;
}
.right .top li:hover .arrow-bottom{
	height: 0;
}
.body-content .shop-list{
	width: 966px;
}
.body-content .shop-list img{
	width: 210px;
	height: 210px;
}
.body-content .shop-list li{
	margin: 10px 0;
	border: 1px solid #ccc;
	width: 230px;
	height: 340px;
	font-size: 0;
	float: left;
	margin-left: 15px;
	position: relative;
}
.body-content .shop-list li:first-child{
	margin-left: 0;
}
.body-content .shop-list li:nth-child(5){
	margin-left: 0;
}
.body-content .shop-list li>div{
	padding: 10px;
}
.body-content .shop-list li:hover>span{
	display: block;
}
.body-content .shop-list li>span{
	display: none;
	position: absolute;
	background: #FF2D52;
	color: white;
	text-align: center;
	padding: 10px 0;
	border: 0;
	bottom: 0;
	font-size: 12px;
	width: 115px;
}
.body-content .shop-list li .saveshop{
	bottom: 0;
	left: 0;
	cursor: pointer;
}
.body-content .shop-list li .border{
	display: inline-block;
	height: 26px;
	padding: 0;
	width: 0;
	right: 50%;
	border-left: 1px solid white;
	bottom: 4px;
}
.body-content .shop-list li .joincat{
	right: 0;
	width: 114px;
	cursor: pointer;
}
.shop-list li .joincat .addone{
	position: absolute;
	bottom: 42px;
	background: transparent;
	display: inline-block;
	width: 26px;
	right: 20px;
	line-height: 10px;
	opacity: 1;
	border-radius: 50%;
	font-size: 0;
}
.body-content .shop-list li p{
	width: 210px;
	font-size: 12px;
}
.body-content .shop-list li .icon{
	width: 17px;
	height: 15px;
	display: inline-block;
	background: url(../../img/xiaoxi.jpg) no-repeat;
	background-position: 1px 4px;
	background-size: 14px 13px;
}
.body-content .shop-list li .hot-sale{
	width: 38px;
	height: 38px;
	display: inline-block;
	background: #FF2D52;
	color: white;
	position: absolute;
	left: 15px;
	top: 15px;
	font-size: 12px;
	font-style: normal;
	line-height: 38px;
	text-align: center;
	border-radius: 50%;
}
.body-content .shop-list .price .before{
	text-decoration: line-through;
	color: #ccc;
}
.body-content .right .change-page{
	float: right;
}
.body-content .right .change-page>span{
	display: inline-block;
	height: 32px;
	border: 1px solid #ccc;
	line-height: 32px;
	text-align: center;
	margin-left: 8px;
	margin-bottom: 20px;
	padding: 0 10px;
}
.body-content .right .change-page>span:first-child,.body-content .right .change-page>span:last-child{
	background: #f2f2f2;
	padding: 0 15px;
}