/*底部*/
.main-bottom{
	background: white;
}
.main-bottom .inside{
	width: 1200px;
	margin: 0 auto;
}
li{
	list-style: none;
}
.main-bottom .inside .top{
	margin-left: 100px;
	padding: 20px 0;
}
.main-bottom .inside .top .say{
	float: left;
	width: 107px;
}
.main-bottom .inside .top .word{
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border:2px solid red;
	text-align: center;
	line-height: 48px;
	position: relative;
	box-sizing: border-box;
	font-size: 25px;
}
.main-bottom .inside .top>span{
	display: inline-block;
	width: 160px;
	margin-right: 50px;
}
.main-bottom .inside .top .word .blank{
	width: 5px;
	height: 5px;
	display: inline-block;
	position: absolute;
	right: 5px;
	bottom: 3px;
	background-color: beige;
}
.main-bottom .inside .middle{
	margin-left: 50px;
}
.main-bottom .inside .middle ul{
	float: left;
	font-size: 12px;
	width: 150px;
}
.main-bottom .inside .middle .left{
	display: inline-block;
}
.main-bottom .inside .middle .right{
	display: inline-block;
	vertical-align: top;
	
}
.main-bottom .inside .middle .right .phone{
	display: inline-block;
	margin: 20px 0 20px 100px;
	font-weight: bold;
	font-size: 18px;
}
.main-bottom .inside .middle ul:nth-child(5){
	border-right: 1px solid #ccc;
}
.main-bottom .inside .middle ul li{
	margin-bottom: 7px;
}
.main-bottom .inside .middle ul li:first-child{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
