.main-login{
	background: url(../../img/regiseterbg.jpg) no-repeat;
	background-size: 100% 100%;
}
.login{
	width: 1200px;
	margin: 0 auto;
}
.login input{
	border: 1px solid #ccc;
}
.login .login-content{
	float: right;
	padding: 20px;
	width: 350px;
	box-sizing: border-box;
	background-color: white;
	margin: 20px 50px 20px 0;
	display: none;
}
.login .login-content.on{
	display: block;
}
.login .login-content .login-user{
	background: url(../../img/user.png) no-repeat;
	background-size: 12px 16px;
	background-position: 7px 11px;
	
}
.login .login-content .save-prom{
	background: url(../../img/alert.png) no-repeat;
	background-size: 12px 16px;
	padding-left: 40px;
	border: 1px solid #ccc;
	width: 304px;
	height: 25px;
	line-height: 25px;
	background-position: 7px 3px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.login .login-content .third-aside span{
	display: inline-block;
	width: 28px;
	height: 28px;
	border-radius: 5px;
}
.login .login-content .third-aside .qq{
	background: url(../../img/qq.png) no-repeat;
}
.login .login-content .third-aside .weixin{
	background: url(../../img/weixin.png) no-repeat;
}
.login .login-content .third-aside .weibo{
	background: url(../../img/weibo.png) no-repeat;
}
.login .login-content .prom-word:nth-child(3){
	width: 150px;
}
.login .login-content .regist-check>input{
	margin-bottom: 20px;
}
.login .telnum{
	width: 100%;
	height: 40px;
	margin-bottom: 5px;
	box-sizing: border-box;
	padding-left: 25px;
	background: url(../../img/phone.jpg) no-repeat;
	background-position: 6px 8px;
}
.login .pwd,.login .re-pwd{
	position: relative;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	background: url(../../img/pwd.jpg) no-repeat;
	padding-left: 25px;
	background-position: 6px 8px;
}
.login .login-code{
	margin-bottom: 	7px;
}
.login .login-code .input-code{
	background: url(../../img/promcode.jpg) no-repeat;
	background-position: 6px 8px;
	box-sizing: border-box;
	padding-left: 25px;
	width: 195px;
	height: 40px;
}
.login .login-code .code{
	width: 110px;
	height: 40px;
	background-color: #FF2D52;
	color: white;
	outline: none;
	border-width: 1px;
}
.login .login-code .code.disabled{
	background-color: gray;
	cursor: not-allowed;
}
.login .login-input-top .prom{
	font-size: 22px;
}
.login .login-input-top .prom-right{
	float: right;
	line-height: 29px;
	cursor: pointer;
}
.login .tel-prom{
	line-height: 20px;
	color: #d9d9d9;
}
.login .tel-prom .icon{
	background-color: #d0d0d0;
	border-radius: 50%;
	display: inline-block;
	width: 16px;
	height: 16px;
	text-align: center;
	color: white;
	box-sizing: border-box;
	line-height: 16px;
}
.login .register-btn{
	width: 100%;
	font-size: 16px;
	padding: 12px 0;
	background-color: #FF2D52;
	color: white;
	margin-top: 5px;
	border-width: 0;
	cursor: not-allowed;
	outline: none;
}
form>div{
	position: relative;
}
form>div>label{
	position: absolute;
	left: 0;
	top: -24px;
	border: 1px solid #e2e2e2;
	padding: 3px;
	background: #383838;
	color: white;
	width: 310px;
}
form input{
	margin-bottom: 20px;
}
